<?xml version="1.0" ?>
<model>
    <name>tuc_robot_v1</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Dimitrios Petrou</name>
        <email>dpetrou@isc.tuc.gr</email>
    </author>
    <description>Experimental model of a simple robot designed for the course 'Autonomous Agents' tutored by M.Lagoudakis at TUoCrete during WS-2021</description>
</model>
